[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
langchain = "0.0.155"
nomic = "1.1.2"
numpy = "1.24.2"
pinecone-client = "2.2.1"
sentence-transformers = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
